@model TodoApi.Models.TodoItem
@{ViewData["Title"]="Index";}
<h1>Sharpies Todo!</h1>

<ul>
  @foreach(var item in ViewData["AllTodos"] as IEnumerable<TodoApi.Models.TodoItem>) 
    {
    <li>@item.Name</li>  
    };
</ul>